.screen {
  border: solid black 5px;
  margin: 0 auto;
  position: relative;
}

.paddle {
  position: absolute;
  background-color: black
}

.ball {
  border-radius: 100%;
  position: absolute;
  background-color:black
}

.brick {
  position: absolute;
  background-color: crimson;
  border: solid black 2px
}

.score {
  height:40px;
  width: 200px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center
}